<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhumouren.games.cloud.moment.mapper.MomentMapper">

    <select id="getMomentLinkPage" resultType="cn.zhumouren.games.cloud.moment.entity.Moment">
        select id,
        parent_id,
        parent_paths,
        quote_id,
        username,
        url,
        pics,
        content,
        created,
        updated,
        is_delete
        from moment
        where parent_id = #{momentId} or id in
        <foreach item="parentId" collection="parentList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        order by created
    </select>

    <select id="listMoment" resultType="cn.zhumouren.games.cloud.moment.entity.Moment">
        select id,
        parent_id,
        parent_paths,
        quote_id,
        username,
        url,
        pics,
        cotent,
        created,
        updated,
        is_delete
        from moment
        where id in
        <foreach item="momentId" collection="momentIdList" open="(" close=")" separator=",">
            #{momentId}
        </foreach>
    </select>

    <select id="getMomentCommentMap" resultType="HashMap">
        select parent_id, count(parent_id) as commentNums
        from moment
        where parent_id in
        <foreach item="parentId" collection="momentIdList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        group by parent_id
    </select>

    <select id="getMomentQuoteMap" resultType="HashMap">
        select quote_id, count(quote_id) as quoteNums
        from moment
        where quote_id in
        <foreach item="parentId" collection="momentIdList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        group by quote_id
    </select>

    <select id="getMomentQuoteUsernamePage" resultType="String">
        select username
        from moment
        where quote_id = #{momentId}
    </select>

</mapper>
