<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhumouren.games.cloud.content.mapper.ContentMapper">

    <select id="getContentLink" resultType="cn.zhumouren.games.cloud.content.entity.Content">
        select id,
        parent_id,
        parent_paths,
        quote_id,
        username,
        url,
        pics,
        content,
        created,
        updated,
        is_delete
        from content
        where parent_id = #{contentId} or id in
        <foreach item="parentId" collection="parentList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        order by created
    </select>

    <select id="getContentList" resultType="cn.zhumouren.games.cloud.content.entity.Content">
        select id,
        parent_id,
        parent_paths,
        quote_id,
        username,
        url,
        pics,
        content,
        created,
        updated,
        is_delete
        from content
        where id in
        <foreach item="contentId" collection="contentIdList" open="(" close=")" separator=",">
            #{contentId}
        </foreach>
    </select>

    <select id="getContentCommentMap" resultType="HashMap">
        select parent_id, count(parent_id) as commentNums
        from content
        where parent_id in
        <foreach item="parentId" collection="contentIdList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        group by parent_id
    </select>

    <select id="getContentQuoteMap" resultType="HashMap">
        select quote_id, count(quote_id) as quoteNums
        from content
        where quote_id in
        <foreach item="parentId" collection="contentIdList" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        group by quote_id
    </select>

    <select id="getContentQuoteUsernamePage" resultType="String">
        select username
        from content
        where quote_id = #{contentId}
    </select>

</mapper>
